{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}
<<h1>Inscription sur le site</h1>

    {{ form_start(form) }}
    {{ form_row(form.username, {'label':Nom d utilisateur','attr':{'placeholder':'Nom d utilisateur ....'}}) }}
    {{ form_row(form.email, {'label':'Email','attr':{'placeholder':'Email'}}) }}
    {{ form_row(form.password, {'label':'Mot de passe','attr':{'placeholder':'Votre mot de passe '}}) }}
    {{ form_row(form.confirmpassword, {'label':'Confirmez','attr':{'placeholder':'Votre mot de passe '}}) }}
    <button type="submit" class="btn btn-success"></button>
    {{ form_end(form) }}
{% endblock %}
